.navbar {
  background-color: #282c34;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a, .nav-links button {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.nav-links button:hover,
.nav-links a:hover {
  text-decoration: underline;
}